body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #keyword-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .url-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .url-button {
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    color: #007bff;
    background: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .url-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .progress {
    width: 100%;
    background: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 20px;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #28a745;
    width: 0;
    transition: width 0.4s;
  }
  
  .content-list {
    text-align: left;
  }
  
  .content-item {
    background: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .download-button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .download-button:hover {
    background-color: #218838;
  }
  
  .content-item div {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
  }
  